.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: darkgray;
 }

 .img-circle {
    width: 120px;
    height: 120px;

 }

 .card-body {
    padding-left: 0;
 }

.card-work {
    flex-direction: row;
    border-bottom: 1px solid darkgray;
}

.img-work {
    width: 65%;
    height: 300px;
}

