.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: darkgray;
 }

 .img-circle {
    width: 120px;
    height: 120px;

 }

 .card-body {
    padding-left: 0;
 }

.work-section {
    flex-direction: row;
    border-bottom: 1px solid darkgray;
    border-radius: 0;
}

.img-work {
    width: 65%;
    height: 300px;
}

.about-me {
    background: darkgray;
}

.img-about {
    width: 500px;
    height: 500px;
}

.flex-container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 992px) {
    .about-me {
        background: darkgray;
        display: flex;
        flex-direction: row-reverse;
    }
}

.icons {
    background: lightgray;
    height: 80px;
    text-align: center;
}
