/* styles for flex container */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: darkgray;
 }

 /* styles to create circle images in my skills section */
 .img-circle {
    width: 120px;
    height: 120px;

 }

 /* discard pading for cards */
 .card-body {
    padding-left: 0;
 }

 /* styles for unique border */
.work-section {
    flex-direction: row;
    border-bottom: 1px solid darkgray;
    border-radius: 0;
}

/* styles for images in work section */
.img-work {
    width: 65%;
    height: 300px;
}

/* styles for about section */
.about-me {
    background: darkgray;
}

.img-about {
    width: 500px;
    height: 500px;
}

.flex-container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* media query for about me section */
@media only screen and (min-width: 992px) {
    .about-me {
        background: darkgray;
        display: flex;
        flex-direction: row-reverse;
    }
}

/* styles for icons section */
.icons {
    background: lightgray;
    height: 80px;
    text-align: center;
}
